@charset 'utf-8';

.section_container{
    /* border: 1px solid black; */
    width: 800px;
    /* height: 800px; */
    margin: 0 auto;
    margin-top: 5px;
    padding: 50px 0px;
}
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;}

  
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 2px solid #3f3e3e;
    background-color: #f8f8f8;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
 }
.tab_item:hover {
    /* opacity: 0.75; */
}
input[name="tab_item"] {
    display: none;
}


.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}



#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
    display: block;
}

.tabs input:checked + .tab_item {
    background-color: #fb4357;
    color: #fff;
 }
 .container {
width: 550px;
padding: 40px;
margin: 0 auto;
border: 1px solid #d1d1d1;
}

.container>form>ul {
list-style-type: none;
}

.container>form>ul>li {
margin-top: 10px;
}

.container>form>ul>ul {
margin-top: 5px;
padding-left: 40px;
list-style-type: disc;
color: gray;
}

label {
font-weight: bold;
}

.border_bottom {
border-bottom: 2px solid #c4c4c4;
width: 550px;
}

input {
border: none;
outline: none;
height: 50px;
width: 60%;
font-size: 20px;
}
input:focus{
margin: 0;
padding: 0;
}
.sub_txt {
display: inline-block;
text-align: right;
width: 20%;
font-size: 20px;
padding-right: 10px;
box-sizing: border-box;
font-weight: bold;
color: gray;
}
select {
width: 100px;
font-size: 20px;
height: 50px;
box-sizing: border-box;
border: none;
border-right: 1px solid #c4c4c4;
}

#tel {
padding-left: 10px;
height: 30px;
line-height: 30px;
}

.btn_send_no {
width: 230px;
height: 50px;
background-color: white;
border: 1px solid #c4c4c4;
border-radius: 25px;
}



.btn_send_no:active {
background-color: white;
color: #fb4357;
border: 1px solid #fb4357;
}

.btn_next {
width: 100px;
height: 50px;
background-color: #fb4357;
color: white;
border-radius: 10px;
border: none;
font-weight: bold;
}

.btn_next:active {
background-color: white;
color: #fb4357;
border: 1px solid #fb4357;
}

.true {
color: blue;
font-weight: bold;
}

.false {
color: red;
font-weight: bold;
}