@charset 'utf-8';
.header_nav_container{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 200px;
}
.header{
    width: 1200px;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.nav_container{
    height: 50px;
    box-sizing: border-box;
}
.header_logo{
    box-sizing: border-box;
    width: 550px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}
.search_containaer td{
    vertical-align: bottom ;
    text-align: center;
    border: 0px;
}
.search_containaer{
    box-sizing: border-box;
    width: 600px;
    height: 100%;
    margin-bottom: 50px;
    margin-right: 50px;
}
.search{
    height: 40px;
    width: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.search_bar{
    font-size: 16px;
    width: 325px;
    border: 0px;
    outline: none;
    float: left;
}
.search_buton{
    width: 50px;
    height: 44px;
    border: 0px;
    background: red;
    outline: none;
    float: left;
    color: #ffffff;
}
.info{
    box-sizing: border-box;
    width: 300px;
}
.member_info_wrap{
    align-items: center;
    display: flex;
    height: 150px;
    padding-left: 0px;
}
.member_info_wrap > li{
    display: flex;
    list-style-type: none;
    width: 70px;
    height: 10px;
    margin-left: 15px;
}
.member_info_wrap > li a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    
}
.member_info_wrap > li > a > img{
    width: 36px;
    height: 36px;
}
