@charset 'utf-8';

.header_continer{
    width: 100%;
    /* border: 1px solid black; */
}
#header_welcom_menu{
    width: 100%;
    /* border: 1px solid black; */
    height: 50px;
}
#header_logo_title_contianer{
    width: 1200px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0;
    display: flex;
}
#header_logo_title{
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
}
#header_logo_title h3{
    display: flex;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing:10px;
    align-items: flex-end;    
}
#info{
    /* border: 1px solid black; */
    width: 400px;
    margin-left:300px;
}
#member_info_wrap{
    display: flex;
    list-style-type: none;
    text-align: center;
}
#member_info_wrap >li{
    display: flex;
    width: 70px;
    height: 10px;
    margin-left: 15px;
    margin-top: 30px;
}
#member_info_wrap > li > a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center;
}
#member_info_wrap > li > a >img{
    width: 46px;
}
