@charset 'utf-8';
.menu > ul{list-style:none}
.submenu1 >a{
    text-decoration:none;
    list-style:none;
    font-size:14px
}
.menu > li > a{
    font-size: 25px;
    font-weight: bold;
}
.menu {
width: 1200px;
overflow: hidden;
margin: 0px auto;
 list-style-type: none;
 padding:0;margin:0;
 list-style:none;
}
.menu > li {
width: 200px;
float: left;
text-align: center;
line-height: 40px;
background-color: rgb(233, 74, 74);
/* border-top: 1px solid black; */
/* border-bottom: 1px solid red; */
position: relative;
}
.menu a {
 color: rgb(255, 255, 255);
text-decoration: none;
}
.submenu1,.submenu2  > li {
line-height: 50px;
}
.submenu1,.submenu2 {
height: 0; 
 overflow: hidden;
 padding:0;margin:0;
}
.menu > li:hover {
 background-color: rgb(223, 28, 28);
 transition-duration: 0.5s;
}
.menu > li:hover >.submenu1 {
    background-color: rgb(223, 28, 28);
height: 100px; 
transition-duration: 1s;
}
.menu > li:hover >.submenu2 {
    background-color: rgb(223, 28, 28);
height: 150px; 
transition-duration: 1s;
}
.boder{
   height: 44px;
}