@charset 'utf-8';
nav{
    width:100%;
    margin: 10px auto;
    border-top:1px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    transition-property: all;
    transition-duration: 1s;
    border-bottom: 1px solid  red;
    position: absolute; 
    z-index: 2000;
    background-color: white;
}
#nav_container{
    align-self: center;
    width: 1200px;
    position: sticky;
    top: 0;
}
#marginNav{
    height: 55px;
}
nav ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    padding:0; 
}
#main_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
nav li{
    width: 192px;
}
#main_menu a:link, #main_menu a:visited{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color:black;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
}
.sub_menu a:link, .sub_menu a:visited{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 1em;
    color:black;
    text-decoration: none;
    box-sizing: border-box;
}
#sub_menu_container{
    width: 100%;
    height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition-property: all;
    transition-duration: 1s;
    /* border-bottom:1px solid red; */
    position: absolute;
    z-index:1000;
    /* background-color: white; */
}
.serch_bar{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(210, 210, 210);
    background-position: center;
}
.serch_bar_image{
    background-image: url(/img/zoom.png);
    background-repeat: no-repeat;
    background-size: 35px;
    margin-top: 10px;
    opacity: 0.5;
    background-position: center;
    display: inline-block;
    text-align: center;
}
.serch_bar_image > button{
    width: 33px;
    height: 35px;
    opacity: 0.0; 
    border: 0px; 
    border-radius: 15%;
    margin-top: 3px;
}
.serch_bar_image > button:hover{
    opacity: 0.5;
    background-color:transparent;
    border: 1px solid black;
    border-width: 2px;
    box-sizing: border-box;
}
.serch_bar_image > button:active{
    opacity: 1;
}
#input{
    display: flex;
    height: 22px;
    border: 0px;
    font-size: 22px;
    margin-top: 5px;
    width: 250px;
}
input:focus { 
    margin-top: 5px;
    outline: none;
}