@charset 'utf-8';

.section_container{
    /* border: 1px solid black; */
    width: 1200px;
    /* height: 400px; */
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    padding: 50px;
    height: 450px;
}
.img_icon1{
position: absolute;
display: block;
transform: rotate(-30deg);
margin-top: 100px;
margin-left: 1000px;
width: 100px;
opacity:0.2;
}
.img_icon2{
position: absolute;
transform: rotate(-30deg);
margin-bottom: 60px;
margin-left: 250px;
margin-top: 200px;
width: 100px;
opacity:0.2;
}
.img_icon3{
position: absolute;
transform: rotate(-30deg);
display: block;
margin-top:0px;
margin-left: 900px;
width: 100px;
opacity:0.2;
}
.img_icon4{
position: absolute;
transform: rotate(-30deg);
display: block;
margin-top: 200px;
margin-left: 250px;
width: 100px;
opacity:0.2;
}
.img_icon5{
position: absolute;
display: block;
transform: rotate(-30deg);
margin-left: 300px;
width: 100px;
opacity:0.2;
}
.img_icon6{
position: absolute;
display: block;
transform: rotate(-30deg);
margin-bottom: 200px;
margin-left: 750px;
width: 100px;
opacity:0.2;
}
.img_icon7{
position: absolute;
display: block;
transform: rotate(-30deg);
margin-left: 150px;
width: 100px;
opacity:0.2;
}
.img_icon8{
position: absolute;
display: block;
transform: rotate(-30deg);
margin-top: 150px;
margin-left: 100px;
width: 100px;
opacity:0.2;
}

h1{
text-align: center;
padding-bottom: 50px;
}
p{
text-align: center;
padding: 10px;
padding-bottom: 50px;
}
button{
width: 180px;
font-weight: bold;
height: 45px;
background-color: #fb4357;
color: white;
border-radius: 20px;
border: none;
} 
button:active {
 background-color: white;
color: #fb4357;
border: 1px solid #fb4357;
}
p > img{
width: 60px;
}