@charset 'utf-8';

.header{
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
}
.member_info_wrap{
    float: right;
    font-size: 0;
    width: 330px;
}
.member_info_wrap > li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    float: left;
    margin-top: 50px;
    margin-left: 15px;
}
span{
    font-size: 13px;
}
a{
    text-decoration: none;
}
li img{
    width: 36px;
    height: 36px;
}
.logo{
    margin-top: 20px;
}
